/* COMMON COLORS */
/* COMMON COLORS */
/* COMMON SIZES */
/* COMMON SIZES */
/* TOP BAR COLORS */
/* TOP BAR COLORS */
/* SIDE BAR COLORS */
/* SIDE BAR COLORS */
/* New Changes */
/* Table */
/** Button Gradients **/
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #8a6d3b;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #a94442;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #3c763d;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
  border-left: 0;
}
/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 * version: 1.8.1
 * https://github.com/wenzhixin/bootstrap-table/
 */
.bootstrap-table .table {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse !important;
  border-radius: 1px;
}
.bootstrap-table .table,
.bootstrap-table .table > tbody > tr > th,
.bootstrap-table .table > tfoot > tr > th,
.bootstrap-table .table > thead > tr > td,
.bootstrap-table .table > tbody > tr > td,
.bootstrap-table .table > tfoot > tr > td {
  padding: 8px !important;
}
.bootstrap-table .table.table-no-bordered > thead > tr > th,
.bootstrap-table .table.table-no-bordered > tbody > tr > td {
  border-right: 2px solid transparent;
}
.fixed-table-container {
  position: relative;
  clear: both;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.fixed-table-container.table-no-bordered {
  border: 1px solid transparent;
}
.fixed-table-footer,
.fixed-table-header {
  overflow: hidden;
}
.fixed-table-footer {
  border-top: 1px solid #dddddd;
}
.fixed-table-body {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}
.fixed-table-container table {
  width: 100%;
}
.fixed-table-container thead th {
  height: 0;
  padding: 0;
  margin: 0;
  border-left: 1px solid #dddddd;
}
.fixed-table-container thead th:first-child {
  border-left: none;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.fixed-table-container thead th .th-inner,
.fixed-table-container tbody td .th-inner {
  padding: 8px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fixed-table-container thead th .sortable {
  cursor: pointer;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 30px;
}
.fixed-table-container thead th .both {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}
.fixed-table-container thead th .asc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}
.fixed-table-container thead th .desc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}
.fixed-table-container th.detail {
  width: 30px;
}
.fixed-table-container tbody td {
  border-left: 1px solid #dddddd;
}
.fixed-table-container tbody tr:first-child td {
  border-top: none;
}
.fixed-table-container tbody td:first-child {
  border-left: none;
}
/* the same color with .active */
.fixed-table-container tbody .selected td {
  background-color: #f5f5f5;
}
.fixed-table-container .bs-checkbox {
  text-align: center;
}
.fixed-table-container .bs-checkbox .th-inner {
  padding: 8px 0;
}
.fixed-table-container input[type="radio"],
.fixed-table-container input[type="checkbox"] {
  margin: 0 auto !important;
}
.fixed-table-container .no-records-found {
  text-align: center;
}
.fixed-table-pagination div.pagination,
.fixed-table-pagination .pagination-detail {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
.fixed-table-pagination div.pagination .pagination {
  margin: 0;
}
.fixed-table-pagination .pagination a {
  padding: 6px 12px;
  line-height: 1.428571429;
}
.fixed-table-pagination .pagination-info {
  line-height: 34px;
  margin-right: 5px;
}
.fixed-table-pagination .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.fixed-table-pagination .dropup .dropdown-menu {
  margin-bottom: 0;
}
.fixed-table-pagination .page-list {
  display: inline-block;
}
.fixed-table-toolbar .columns-left {
  margin-right: 5px;
}
.fixed-table-toolbar .columns-right {
  margin-left: 5px;
}
.fixed-table-toolbar .columns label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
}
.fixed-table-toolbar .bars,
.fixed-table-toolbar .search,
.fixed-table-toolbar .columns {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 34px;
}
.fixed-table-pagination li.disabled a {
  pointer-events: none;
  cursor: default;
}
.fixed-table-loading {
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  text-align: center;
}
.fixed-table-body .card-view .title {
  font-weight: bold;
  display: inline-block;
  min-width: 30%;
  text-align: left !important;
}
/* support bootstrap 2 */
.fixed-table-body thead th .th-inner {
  box-sizing: border-box;
}
.table th,
.table td {
  vertical-align: middle;
  box-sizing: border-box;
  outline: 0;
}
.fixed-table-toolbar .dropdown-menu {
  text-align: left;
  max-height: 300px;
  overflow: auto;
}
.fixed-table-toolbar .btn-group > .btn-group {
  display: inline-block;
  margin-left: -1px !important;
}
.fixed-table-toolbar .btn-group > .btn-group > .btn {
  border-radius: 0;
}
.fixed-table-toolbar .btn-group > .btn-group:first-child > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fixed-table-toolbar .btn-group > .btn-group:last-child > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.bootstrap-table .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
/* support bootstrap 3 */
.bootstrap-table .table thead > tr > th {
  padding: 0;
  margin: 0;
}
.bootstrap-table .fixed-table-footer tbody > tr > td {
  padding: 0 !important;
}
.bootstrap-table .fixed-table-footer .table {
  border-bottom: none;
  border-radius: 0;
}
.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
/* calculate scrollbar width */
p.fixed-table-scroll-inner {
  width: 100%;
  height: 200px;
}
div.fixed-table-scroll-outer {
  top: 0;
  left: 0;
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.onoffswitch {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 5px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #468CE0;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 18px;
  margin: 0px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 42px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
/*Transition*/
@media only screen and (max-width: 767px) {
  .pushmenu,
  .pushmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.pushmenu {
  background: #3c3933;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 205px;
  height: 100%;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
}
.pushmenu h3 {
  color: #cbbfad;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  background: #282522;
  height: 16px;
}
/*
.pushmenu a {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-top: 1px solid #57544e;
        border-bottom: 1px solid #312e2a;
        padding: 14px;
}

.pushmenu a:hover {
        background:258ecd;
}

.pushmenu a:active {
        background: #454f5c;
        color: #fff;
}
*/
.pushmenu .active {
  background: black;
}
.pushmenu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 14px;
  cursor: pointer;
}
.pushmenu li {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #57544e;
  border-bottom: 1px solid #312e2a;
  padding: 0px;
  overflow-x: hidden;
  white-space: nowrap;
}
.pushmenu ul {
  padding-left: 0px;
}
.pushmenu li.active {
  background: black;
}
.pushmenu .dropdown-pushmenu {
  display: none;
  background-color: #5F5A50;
  border-top: 1px solid #57544e;
  border-bottom: 1px solid #312e2a;
}
.pushmenu .dropdown-pushmenu a {
  font-size: 85%;
  padding-left: 30px;
}
.pushmenu-left {
  left: -205px;
}
.pushmenu-left.pushmenu-open {
  left: 0px;
}
.pushmenu-push {
  overflow-x: hidden;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .pushmenu-push {
    position: relative;
  }
}
.pushmenu-push-toright {
  left: 205px;
  position: fixed;
}
/*! Blue Monday Skin for jPlayer 2.9.2 ~ (c) 2009-2014 Happyworm Ltd ~ MIT License */
/*
* Skin for jPlayer Plugin (jQuery JavaScript Library)
* http://www.jplayer.org
*
* Skin Name: Blue Monday
*
* Copyright (c) 2010 - 2014 Happyworm Ltd
* Licensed under the MIT license.
*  - http://www.opensource.org/licenses/mit-license.php
*
* Author: Silvia Benvenuti
* Skin Version: 5.1 (jPlayer 2.8.0)
* Date: 13th November 2014
*/
.jp-audio-freepbx *:focus,
.jp-audio-stream-freepbx *:focus,
.jp-video-freepbx *:focus {
  outline: none;
}
.jp-audio-freepbx button::-moz-focus-inner,
.jp-audio-stream-freepbx button::-moz-focus-inner,
.jp-video-freepbx button::-moz-focus-inner {
  border: 0;
}
.jp-audio-freepbx,
.jp-audio-stream-freepbx,
.jp-video-freepbx {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: white;
  border-radius: 5px;
}
.jp-audio-freepbx {
  white-space: nowrap;
}
.jp-audio-freepbx .jp-play,
.jp-audio-freepbx .jp-repeat,
.jp-audio-freepbx .jp-mute,
.jp-audio-freepbx .jp-unmute,
.jp-audio-freepbx .jp-restart {
  color: #0070A3;
  padding: 2px;
}
.jp-audio-freepbx .jp-unmute {
  display: none;
}
.jp-audio-freepbx .jp-details {
  color: black;
  text-align: center;
}
.jp-audio-freepbx .jp-interface {
  height: 34px;
  width: 100%;
  display: table;
}
.jp-audio-freepbx .jp-interface > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.jp-audio-freepbx .jp-interface .jp-controls {
  font-size: 140%;
  cursor: pointer;
  padding-right: 8px;
}
.jp-audio-freepbx .jp-interface .jp-volume-controls {
  font-size: 140%;
  cursor: pointer;
  width: 30px;
  padding-left: 15px;
}
.jp-audio-freepbx .jp-interface .jp-progress {
  cursor: pointer;
  width: 82%;
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-current-time {
  cursor: default;
  position: absolute;
  top: 6px;
  left: 5px;
  /*mix-blend-mode: difference;*/
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-duration {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 4px;
  /*mix-blend-mode: difference;*/
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-seek-bar {
  margin-bottom: 0px;
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-seek-bar .jp-ball {
  position: absolute;
  z-index: 999;
  border-radius: 30px;
  top: 12px;
  left: 0;
  width: 1.45em;
  height: 1.45em;
  margin: -0.405em 0px 0px -0.466em;
  border: 1px solid #B3B3B3;
  background-color: #fff;
  padding: 0px;
  /* z-index: 1; */
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-seek-bar .progress {
  height: 22px;
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-seek-bar .progress-bar-striped {
  display: none;
}
.jp-audio-freepbx .jp-interface .jp-progress .jp-seek-bar .jp-play-bar {
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
  background-color: #D7EBF9;
  -webkit-box-shadow: inset 0 -1px 0 rgba(170, 210, 239, 0.15);
  box-shadow: inset 0 -1px 0 rgba(170, 210, 239, 0.15);
}
.jp-audio-freepbx .jp-time-holder {
  top: 50px;
}
.jp-audio-freepbx.jp-state-looped .jp-interface .jp-repeat {
  box-shadow: inset 0 1px 1px #bbbbbb;
  background-color: #F1F1F1;
}
.jp-audio-freepbx.jp-state-playing .jp-play.fa-play:before {
  content: "\f04c";
}
.jp-audio-freepbx.jp-state-loading .jp-play.fa-play:before {
  content: "\f110";
}
.jp-audio-freepbx.jp-state-loading .jp-play.fa-play {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.jp-audio-freepbx.jp-state-no-volume .jp-volume-controls {
  display: none;
}
.jp-audio-freepbx.jp-state-seeking .jp-interface .jp-progress .jp-seek-bar .progress-bar-striped {
  display: block;
  background-color: #DBF1FF;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 112, 163, 0) 25%, transparent 25%, transparent 50%, rgba(0, 112, 163, 0.3) 50%, rgba(0, 112, 163, 0.3) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 112, 163, 0) 25%, transparent 25%, transparent 50%, rgba(0, 112, 163, 0.3) 50%, rgba(0, 112, 163, 0.3) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 112, 163, 0) 25%, transparent 25%, transparent 50%, rgba(0, 112, 163, 0.3) 50%, rgba(0, 112, 163, 0.3) 75%, transparent 75%, transparent);
}
.jp-no-solution {
  padding: 5px;
  font-size: .8em;
  background-color: #FF0000;
  border: 2px solid #CCCCCC;
  color: white;
  display: none;
  white-space: normal;
  font-weight: bold;
}
.jp-no-solution a {
  color: #000;
}
.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold;
}
.jp-record {
  color: red;
}
.jp-controls.recording .jp-record {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  width: 22px;
  /* weird browser issues */
}
.jp-controls.recording .fa.jp-play:before {
  content: "\f04d";
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 11px;
  left: 15px;
}
#nprogress .spinner-icon {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
 * Bootstrap Multiselect (https://github.com/davidstutz/bootstrap-multiselect)
 *
 * Apache License, Version 2.0:
 * Copyright (c) 2012 - 2015 David Stutz
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a
 * copy of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 *
 * BSD 3-Clause License:
 * Copyright (c) 2012 - 2015 David Stutz
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *    - Redistributions of source code must retain the above copyright notice,
 *      this list of conditions and the following disclaimer.
 *    - Redistributions in binary form must reproduce the above copyright notice,
 *      this list of conditions and the following disclaimer in the documentation
 *      and/or other materials provided with the distribution.
 *    - Neither the name of David Stutz nor the names of its contributors may be
 *      used to endorse or promote products derived from this software without
 *      specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.multiselect-container .input-group {
  margin: 5px;
}
.multiselect-container > li {
  padding: 0;
}
.multiselect-container > li > a.multiselect-all label {
  font-weight: bold;
}
.multiselect-container > li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: bold;
}
.multiselect-container > li.multiselect-group-clickable label {
  cursor: pointer;
}
.multiselect-container > li > a {
  padding: 0;
}
.multiselect-container > li > a > label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: normal;
  padding: 3px 20px 3px 40px;
}
.multiselect-container > li > a > label.radio,
.multiselect-container > li > a > label.checkbox {
  margin: 0;
}
.multiselect-container > li > a > label > input[type="checkbox"] {
  margin-bottom: 5px;
}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
}
.form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
.form-inline .multiselect-container li a label.radio input[type="radio"] {
  margin-left: -20px;
  margin-right: 0;
}
/* FONTS */
@font-face {
  font-family: 'cinzel';
  src: url('../../../../assets/fonts/cinzel-regular-webfont.eot');
  src: url('../../../../assets/fonts/cinzel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../assets/fonts/cinzel-regular-webfont.woff') format('woff'), url('../../../../assets/fonts/cinzel-regular-webfont.ttf') format('truetype'), url('../../../../assets/fonts/cinzel-regular-webfont.svg#cinzelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cinzel';
  src: url('../../../../assets/fonts/cinzel-bold-webfont.eot');
  src: url('../../../../assets/fonts/cinzel-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../assets/fonts/cinzel-bold-webfont.woff') format('woff'), url('../../../../assets/fonts/cinzel-bold-webfont.ttf') format('truetype'), url('../../../../assets/fonts/cinzel-bold-webfont.svg#cinzelbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../../../../assets/fonts/lato-regular-webfont.eot');
  src: url('../../../../assets/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../assets/fonts/lato-regular-webfont.woff') format('woff'), url('../../../../assets/fonts/lato-regular-webfont.woff2') format('woff2'), url('../../../../assets/fonts/lato-regular-webfont.ttf') format('truetype'), url('../../../../assets/fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../../../../assets/fonts/lato-bold-webfont.eot');
  src: url('../../../../assets/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../assets/fonts/lato-bold-webfont.woff') format('woff'), url('../../../../assets/fonts/lato-bold-webfont.woff2') format('woff2'), url('../../../../assets/fonts/lato-bold-webfont.ttf') format('truetype'), url('../../../../assets/fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Make all input boxes have a font where you can tell the difference between upper and lower case fonts */
input,
textarea {
  font-family: 'lato', sans-serif;
}
/* MIXINS */
body {
  font-family: 'lato', sans-serif;
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'lato', sans-serif;
  margin-top: 2px;
  margin-bottom: 10px;
}
.input-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* LOGIN */
#login-window {
  padding-top: 20px;
  border-radius: 0;
  background-color: #e7eaec;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 250px;
  overflow: hidden;
}
#login-window .header {
  font-size: x-large;
}
#login-window .extras {
  width: 100%;
}
#login-window .action-switch {
  height: 30px;
  vertical-align: top;
}
#login-window .action-switch td {
  text-align: center;
}
#login-window .action-switch td span {
  cursor: pointer;
}
#login-window .action-switch td span:hover {
  color: #3361ab;
}
#login-window .reset-title {
  text-align: center;
  font-size: larger;
}
#login-window .remember-me .text {
  width: 30%;
  white-space: nowrap;
  text-align: right;
  padding-right: 7px;
  vertical-align: top;
  font-size: larger;
}
#login-window .remember-me .checkbox-c {
  width: 30%;
  text-align: left;
}
#login-window .lhide {
  display: none;
}
#login-window .button-row {
  width: 100%;
  text-align: center;
}
#login-window .extra-info {
  color: #e7eaec;
}
/* LOGGED IN CONTENT DISPLAY */
/* BREADCRUMB/MENU/LOGOUT BAR */
#nav-bar-background {
  background-color: #e7eaec;
  min-height: 44px;
  margin-bottom: 0;
  border-width: 0 0 0;
}
#nav-bar-background .breadcrumb {
  background-color: transparent;
}
#nav-bar-background #global-message-container {
  position: absolute;
  margin: auto;
  background-color: #f76a6a;
  height: 100%;
  width: 100%;
  z-index: 50;
  display: none;
}
#nav-bar-background #global-message-container #global-message {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  font-style: italic;
  font-weight: bold;
}
#nav-bar-background #bc-mobile-icon {
  cursor: pointer;
  width: 33px;
  text-align: center;
  font-size: x-large;
  padding-left: 10px;
  left: 0;
  position: absolute;
  z-index: 50;
}
@media only screen and (min-width: 768px) {
  #nav-bar-background #bc-mobile-icon {
    display: none;
  }
}
#nav-bar-background #top-dashboard-nav-right {
  top: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 50;
  font-size: 120%;
  height: 100%;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns {
  top: 0;
  height: 36px;
  margin-top: -6px;
  position: relative;
  float: left;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container {
  float: left;
  height: 36px;
  padding: 5px;
  position: relative;
  z-index: 5;
  width: 33px;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container .icon {
  height: 32px;
  width: 40px;
  overflow: hidden;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container .icon i {
  font-size: 150%;
  color: black;
  opacity: .6;
  transition: opacity .5s;
  padding: 0.5px;
  width: 23px;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container .icon .out {
  opacity: 0;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container .icon .badge {
  min-width: 18px;
  padding: 2px 4px;
  font-size: 13px;
  background-color: #BB0000;
  position: relative;
  margin-top: -15px;
  margin-left: 7px;
  transition: color 0.5s ease-in;
  top: -21px;
  right: -1px;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container #settings-btn {
  margin-top: 1px;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container:hover > .icon > i,
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container.active > .icon > i {
  opacity: 1;
}
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container:hover > .icon > .badge,
#nav-bar-background #top-dashboard-nav-right .nav-btns .module-container.active > .icon > .badge {
  background-color: #db0000;
}
.navbar-fixed-left {
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 55px;
  position: fixed;
  border-radius: 0;
  background-color: #e7eaec;
  color: #e7eaec;
  top: 44px;
  z-index: 1030;
}
.navbar-fixed-left .navbar-nav li {
  float: none;
  width: 55px;
  font-size: 20px;
}
.navbar-fixed-left .navbar-nav li.custom-widget a {
  cursor: move;
}
.navbar-fixed-left .navbar-nav li.custom-widget a i {
  cursor: pointer;
  width: 1.28571429em;
  text-align: center;
}
.navbar-fixed-left .navbar-nav li.settings-widget {
  position: absolute;
  bottom: 36px;
}
.navbar-fixed-left .navbar-nav li.logout-widget {
  position: absolute;
  bottom: 0px;
}
.navbar-fixed-left .navbar-nav li.save-widget {
  position: absolute;
  bottom: 72px;
}
.navbar-fixed-left .navbar-nav li.reset-widget {
  position: absolute;
  bottom: 72px;
}
.navbar-fixed-left .navbar-nav li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
.navbar-fixed-left .navbar-nav li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: #3b8c62;
}
.navbar-fixed-left .navbar-nav li > a:hover,
.navbar-fixed-left .navbar-nav li a:focus {
  background-color: #3b8c62;
  color: #e7eaec;
}
.navbar-fixed-left .navbar-nav > .active > a,
.navbar-fixed-left .navbar-nav > a.active:hover,
.navbar-fixed-left .navbar-nav > a.active:focus {
  background-color: #3b8c62;
  color: #e7eaec;
}
.navbar-fixed-left + .container {
  padding-left: 160px;
}
.nav-tabs li a {
  color: black;
}
.nav-tabs li a:hover {
  color: #3b8c62;
}
.navbar-inverse {
  border: none;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #3b8c62;
  color: #e7eaec;
}
.right-bar {
  width: 10px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: #e7eaec;
  top: 44px;
  z-index: 1030;
  right: 0;
}
.side-menu-widgets-container.open {
  left: 55px;
}
.side-menu-widgets-container {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: -250px;
  background-color: #e7eaec;
  color: #3b8c62;
  overflow-x: hidden;
  padding-top: 44px;
  transition: 0.5s;
  border-left: 10px solid #a77b66;
}
.side-menu-widgets-container .widget-extra-menu {
  position: absolute;
  top: 45px;
  width: 100%;
  height: calc(100% - 45px);
}
.side-menu-widgets-container a {
  color: #3b8c62;
}
.side-menu-widgets-container .widget-extra-menu ul li {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.side-menu-widgets-container .widget-extra-menu ul li:hover {
  background-color: #3b8c62;
}
.side-menu-widgets-container .widget-extra-menu ul li:hover a {
  color: #a77b66;
  text-decoration: none;
}
.side-menu-widgets-container .widget-extra-menu ul li hr {
  margin-top: 1px;
  margin-bottom: 1px;
  border-top: 1px solid #3b8c62;
}
.side-menu-widgets-container .menu-actions {
  font-size: 33px;
  height: 32px;
  line-height: 20px;
  color: #a77b66;
  text-align: center;
}
.side-menu-widgets-container .menu-actions i:hover {
  opacity: 0.8;
  cursor: pointer;
}
.side-menu-widgets-container .menu-actions i {
  margin-right: 3px;
}
.side-menu-widgets-container .menu-actions i:last-child {
  margin-right: 0px;
}
.main-content-object {
  padding-left: 55px;
  padding-top: 44px;
  overflow-y: hidden;
  background-color: #e7eaec;
}
.main-content-object .main-content-column {
  padding-bottom: 0;
  padding-right: 0;
}
.add-dashboard {
  float: right;
  margin-top: 11px;
  margin-right: 15px;
  color: #3b8c62;
  cursor: pointer;
}
.add-dashboard:hover {
  opacity: 0.8;
}
.dashboards {
  border-bottom: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.dashboards .dashboard-menu {
  position: relative;
  padding-right: 62px;
  padding-left: 9px;
  background-color: #ffffff;
  height: 39px;
  margin-right: 2px;
  margin-bottom: 0;
  cursor: move;
  border: 1px solid #ddd;
}
.dashboards .dashboard-menu::after {
  content: "";
  background: #3b8c62;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0;
  top: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.dashboards .dashboard-menu.active::after,
.dashboards .dashboard-menu:focus::after,
.dashboards .dashboard-menu:hover::after {
  transform: scale(1);
}
.dashboards .dashboard-menu.active a,
.dashboards .dashboard-menu:focus a,
.dashboards .dashboard-menu:hover a {
  color: #3b8c62;
  background-color: #ffffff;
  border: none;
}
.dashboards .dashboard-menu.active a:hover,
.dashboards .dashboard-menu:focus a:hover,
.dashboards .dashboard-menu:hover a:hover,
.dashboards .dashboard-menu.active a:focus,
.dashboards .dashboard-menu:focus a:focus,
.dashboards .dashboard-menu:hover a:focus {
  color: #3b8c62;
  background-color: #ffffff;
  border: none;
}
.dashboards .dashboard-menu.active .dashboard-actions .fa,
.dashboards .dashboard-menu:focus .dashboard-actions .fa,
.dashboards .dashboard-menu:hover .dashboard-actions .fa {
  color: #3b8c62;
}
.dashboards .dashboard-menu.active .dashboard-actions .fa:hover,
.dashboards .dashboard-menu:focus .dashboard-actions .fa:hover,
.dashboards .dashboard-menu:hover .dashboard-actions .fa:hover {
  color: #3e9367 !important;
}
.dashboards .dashboard-menu.active {
  border-bottom-color: transparent;
}
.dashboards .dashboard-menu.active:focus a,
.dashboards .dashboard-menu.active:hover a {
  cursor: move;
}
.dashboards .dashboard-menu.active a {
  cursor: move;
}
.dashboards .dashboard-menu a {
  padding: 6px 1px;
  top: 3px;
  color: #3e9367;
  border-radius: 0;
  margin-right: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.dashboards .dashboard-menu .dashboard-actions {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #3e9367;
  border-left: 1px solid;
  padding-left: 6px;
  cursor: pointer;
}
.dashboards .dashboard-menu .dashboard-actions .fa {
  cursor: pointer;
  margin-right: 3px;
}
.dashboards .dashboard-menu .dashboard-actions .fa:last-child {
  margin-right: 0px;
}
.dashboards .dashboard-menu:hover a {
  color: black !important;
}
.dashboards .dashboard-menu:hover a::after {
  transform: scale(1);
}
.tab-pane {
  padding: 15px 0;
}
.tab-content {
  padding: 20px;
}
.card {
  background: #e7eaec none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.menu-space {
  width: 4px;
  height: 40px;
}
.menu-space.droppable-menu-hover {
  border: 1px solid black;
  width: 100px;
}
.nav-btn-menu {
  position: absolute;
  font-size: 95%;
  right: 0;
  z-index: 399;
  list-style: none;
  text-align: right;
  min-width: 90px;
  /* max-width: 193px; */
  padding: 0;
  background-color: #e7eaec;
  border-left: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  display: none;
  overflow: hidden;
  transition: top .5s;
}
.nav-btn-menu a {
  display: block;
  color: #262626;
  padding: 5px;
  cursor: pointer;
}
.nav-btn-menu > li > a:hover,
.nav-btn-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #e7eaec;
}
.nav-btn-menu li hr {
  margin-top: 2px;
  margin-bottom: 2px;
}
.clear {
  clear: both;
}
/* FULL SCREEN NAV */
#fs-navside {
  font-size: 15px;
}
@media only screen and (max-width: 767px) {
  #fs-navside {
    display: none;
  }
}
#fs-navside .nav > li > a {
  padding: 5px 10px;
}
#fs-navside .dropdown-menu {
  padding: 1px 0;
  max-height: 136px;
  overflow-y: auto;
}
/* DASHBOARD CONTENT */
.dashboard-container {
  background-color: #e7eaec;
  overflow: hidden;
}
/*This Adjusts the whole shebang, the whole container */
.center-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#dashboard-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  transition: height 0.1s ease;
}
/* JQUERYUI OVERRIDES */
.buttonset {
  background: linear-gradient(center top, #6b85b3, #334d86);
  background: -moz-linear-gradient(center top, #6b85b3, #334d86);
  background: -webkit-gradient(linear, center top, center bottom, from(#6b85b3), to(#334d86));
  height: 16px;
  padding: 10px 20px 20px;
}
section.content {
  font-family: 'lato', sans-serif;
  padding: 10px 20px;
}
section {
  height: 100%;
  overflow-y: auto;
}
#loader-screen {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  opacity: 0.7;
  background-color: #e7eaec;
  z-index: 99;
  text-align: center;
  display: none;
}
#loader-screen-content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 150%;
}
#footer {
  background-color: #e7eaec;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: bottom .3s;
  z-index: 99;
  height: 20px;
  color: #000;
}
#footer.shrink {
  bottom: -75px;
}
#footer-bar {
  height: 4px;
  background-color: #DDDDDD;
}
#footer-content {
  font-size: 75%;
  font-family: 'lato', sans-serif;
  text-align: right;
  height: 100%;
  padding-top: 2px;
}
#footer-image {
  padding-top: 0;
  float: right;
  padding-right: 5px;
}
#footer-image img {
  height: 15px;
}
#footer-message {
  float: right;
  padding-top: 1px;
}
@media only screen and (max-width: 460px) {
  #footer-message {
    text-align: left;
  }
}
#footer-message .small-text {
  font-size: 90%;
}
#footer-message a,
#footer-message a:active,
#footer-message a:focus {
  color: black;
  text-decoration: none;
}
#footer-message a:hover {
  color: lightgrey;
}
.alert {
  padding: 5px;
}
.dialog {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 5000;
  top: 50%;
  left: 50%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  margin-top: -75px;
  margin-left: -125px;
  height: 150px;
  width: 250px;
  -webkit-box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.75);
}
.dialog .title {
  padding: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  background-color: whitesmoke;
  font-size: 110%;
}
.dialog .title .fa-times {
  float: right;
  padding: 2px;
  margin-right: 3px;
  cursor: pointer;
  font-weight: normal;
}
.dialog .content {
  padding: 5px;
}
.form-group label.help {
  cursor: help;
}
.form-group .help-block.help-hidden {
  display: none;
}
/* MOBILE MENU SYSTEM */
.pagination {
  margin: 5px 0px;
}
.pagination .active a {
  background-color: #3b8c62;
  border-color: #3b8c62;
}
.pagination li a {
  color: #3b8c62;
}
.pagination li a:hover {
  color: #3b8c62;
}
#pm {
  background-color: #f5f5f5;
  width: 35px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 79px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 5px;
}
#pm .box {
  margin-left: 3px;
}
#pm .box:hover {
  background-color: lightgray;
}
#messages-container {
  height: 38px;
  bottom: 20px;
  position: fixed;
  right: 10px;
}
.message-box {
  z-index: 50;
  background-color: #e7eaec;
  height: 275px;
  width: 225px;
  position: relative;
  float: right;
  margin-left: 5px;
  transition: top .5s;
  top: 0px;
  -webkit-box-shadow: -3px 1px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 1px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 1px 8px 0px rgba(0, 0, 0, 0.5);
}
.message-box .title-bar {
  background-color: #3b8c62;
  height: 38px;
  cursor: pointer;
}
.message-box .title-bar .type i {
  color: white;
  font-size: 178%;
  top: 5px;
  position: absolute;
  left: 7px;
}
.message-box .title-bar .name {
  color: white;
  vertical-align: middle;
  top: 0px;
  position: relative;
  left: 39px;
  display: inline-block;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  width: 127px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 2px;
}
.message-box .title-bar .name .from {
  display: inline-block;
}
.message-box .title-bar .name .to {
  display: inline-block;
}
.message-box .title-bar .actions {
  position: absolute;
  right: 3px;
  top: 4px;
}
.message-box .title-bar .actions i {
  color: white;
  font-size: 136%;
  float: right;
  padding: 5px;
  border: 1px solid transparent;
}
.message-box .title-bar .actions i:hover {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
}
.message-box .window {
  /* Fix for Scroll bars showing in Chrome */
  -webkit-transform: translate3d(0, 0, 0);
  /* end fix */
  height: 237px;
  font-family: 'lato';
}
.message-box .window .chat {
  height: 183px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  font-size: 13px;
  line-height: 1.3;
}
.message-box .window .chat .history .message {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
}
.message-box .window .chat .history .message:hover {
  opacity: 1;
}
.message-box .window .chat .message {
  padding: 4px 9px 4px 9px;
  margin-bottom: 2px;
  border-radius: 11px;
  min-height: 24px;
}
.message-box .window .chat .message.in {
  text-align: left;
  left: 0px;
  position: relative;
  background-color: #e0e0e0;
  color: black;
}
.message-box .window .chat .message.in a {
  color: black;
}
.message-box .window .chat .message.in:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -5px;
  border-style: solid;
  border-width: 7px 15px 3px 0;
  border-color: transparent #e0e0e0;
  display: block;
  width: 0;
  z-index: -2;
}
.message-box .window .chat .message.out {
  text-align: right;
  right: 0px;
  position: relative;
  background-color: #3b8cd2;
  color: white;
}
.message-box .window .chat .message.out a {
  color: white;
}
.message-box .window .chat .message.out:after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: -5px;
  border-style: solid;
  border-width: 3px 0px 7px 15px;
  border-color: transparent #3b8cd2;
  display: block;
  width: 0;
  z-index: -2;
}
.message-box .window .chat .status {
  text-align: center;
  color: gray;
  font-size: 11px;
  font-style: italic;
}
.message-box .window .response-status {
  text-align: center;
  color: gray;
  font-size: 11px;
  font-style: italic;
  height: 15px;
  margin-bottom: -7px;
  padding: 0px 5px;
}
.message-box .window .response {
  width: 100%;
  position: relative;
  top: 7px;
  padding: 0px 5px;
}
.message-box.expand {
  top: -237px;
}
.phone-box {
  z-index: 3;
  background-color: #f5f5f5;
  height: 315px;
  width: 225px;
  position: fixed;
  bottom: -296px;
  transition: bottom .5s;
  right: 2px;
}
.phone-box .title-bar {
  background-color: #404040;
  height: 38px;
  cursor: pointer;
}
.phone-box .title-bar .type i {
  color: white;
  font-size: 178%;
  top: 7px;
  position: absolute;
  left: 7px;
}
.phone-box .title-bar .name {
  color: white;
  vertical-align: middle;
  top: 0px;
  position: relative;
  left: 32px;
  display: inline-block;
  font-size: 103%;
  white-space: nowrap;
  overflow: hidden;
  width: 133px;
}
.phone-box .title-bar .name .message-container {
  text-align: center;
  width: 133px;
  height: 17px;
}
.phone-box .title-bar .name .title {
  text-align: center;
}
.phone-box .title-bar .actions {
  position: absolute;
  right: 3px;
  top: 4px;
}
.phone-box .title-bar .actions i {
  color: white;
  font-size: 136%;
  float: right;
  padding: 5px;
  border: 1px solid transparent;
}
.phone-box .title-bar .actions i:hover {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
}
.phone-box .window {
  /* Fix for Scroll bars showing in Chrome */
  -webkit-transform: translate3d(0, 0, 0);
  /* end fix */
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 278px;
  font-family: 'lato';
}
.phone-box .window table.keypad {
  margin: auto;
  position: relative;
  top: 7px;
  table-layout: fixed;
}
.phone-box .window table.keypad td {
  cursor: pointer;
  border: 1px solid #c9c9c9;
  width: 64px;
  height: 43px;
  text-align: center;
  border-radius: 0px;
}
.phone-box .window table.keypad td .num {
  font-weight: bold;
}
.phone-box .window table.keypad td .letters {
  font-size: 86%;
  color: #acacac;
  margin-top: -4px;
}
.phone-box .window table.keypad td.upper-left {
  border-top-left-radius: 4px;
}
.phone-box .window table.keypad td.upper-right {
  border-top-right-radius: 4px;
}
.phone-box .window table.keypad td.lower-left {
  border-bottom-left-radius: 4px;
}
.phone-box .window table.keypad td.lower-right {
  border-bottom-right-radius: 4px;
}
.phone-box .window .activeCallSession {
  position: relative;
  top: 6px;
  width: 100%;
  height: 217px;
}
.phone-box .window .contactDisplay {
  display: none;
  position: absolute;
  width: 99%;
  height: 230px;
  z-index: 50;
  background-color: #f5f5f5;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 7px;
}
.phone-box .window .contactDisplay .contactImage {
  /* TODO: this is wrong */
  background-image: url('/ucp/modules/Webrtc/assets/images/no_user_logo.png');
  background-position: center;
  height: 163px;
  border: 1px solid #bbbbbb;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 9px;
}
.phone-box .window .contactDisplay .contactInfo {
  position: relative;
  top: 17px;
  text-align: center;
  width: 189px;
  height: 39px;
}
.phone-box .window .contactDisplay .contactInfo span {
  font-weight: bold;
}
.phone-box .window .input-container {
  width: 191px;
  top: 3px;
  position: relative;
  left: 16px;
}
.phone-box .window .actions {
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 192px;
  table-layout: fixed;
}
.phone-box .window .actions td {
  padding-left: 1px;
  padding-right: 1px;
}
.phone-box .window .actions td .right {
  display: none;
}
.phone-box .window .actions button.action {
  width: 100%;
}
.phone-box .window .actions button.secondaction {
  width: 100%;
}
.phone-box.expand {
  bottom: 23px;
}
#loading-container {
  background-color: rgba(211, 211, 211, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
#loading-container .message-container {
  position: fixed;
  top: 50%;
  left: 44%;
}
#loading-container .message-container .message {
  background-color: #f5f5f5;
  width: 200px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 4px 4px 9px rgba(136, 136, 136, 0.42);
}
select[multiple].Tokenize,
select[size].Tokenize {
  color: #ffffff;
  background-color: #ffffff;
  height: 34px;
  margin-bottom: 4px;
}
.bootstrap-table .fixed-table-toolbar .dropdown-menu {
  right: 0px;
  left: inherit;
  padding: 4px;
}
.bootstrap-table .card-view .title {
  font-weight: bold;
  margin-right: 2px;
}
.bootstrap-table tr {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
.bootstrap-table tr:hover {
  background-color: #f5f5f5;
}
.bootstrap-table .sortable {
  cursor: pointer;
}
.bootstrap-table td a {
  color: #2f4050;
  text-decoration: none;
  cursor: pointer;
  margin-right: 5px;
}
.bootstrap-table td a i {
  font-size: large;
}
.bootstrap-table td a:last-of-type {
  margin-right: 0px;
}
.bootstrap-table thead tr {
  background-color: #f5f5f5;
}
.bootstrap-table .fixed-table-loading {
  z-index: 1199;
  background-color: #f7f8f8;
  opacity: 0.95;
  font-weight: bold;
}
.clickable {
  color: #2f4050;
  text-decoration: none;
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}
#ucp-settings .tab-content {
  background-color: white;
  border: 1px solid #dddddd;
  border-top: none;
}
#ucp-settings .password-set {
  border: 1px solid #CCCCCC;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 8px;
}
#ucp-settings .password-set legend {
  margin-bottom: 3px;
}
#ucp-settings .section {
  margin-bottom: 10px;
}
#ucp-settings #contactmanager_dropzone {
  min-height: 75px;
  width: 90px;
  border: 3px dotted #ccc;
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 3px;
}
#ucp-settings #contactmanager_dropzone .message {
  text-align: center;
  font-weight: bold;
  font-size: 86%;
  margin-left: 2px;
}
#ucp-settings #contactmanager_dropzone.image img {
  width: 100%;
}
#ucp-settings #contactmanager_upload-progress {
  margin-top: 5px;
  margin-bottom: 0px;
}
#ucp-settings #contactmanager_dropzone.activate {
  border-color: black;
}
#ucp-settings #contactmanager_dropzone.activate .message {
  opacity: .5;
}
.main-block {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2051;
  pointer-events: fill;
  background: rgba(219, 219, 219, 0.4);
  text-align: center;
  overflow-y: hidden;
  color: #3b8c62;
}
.main-block:after {
  content: "";
}
.main-block .fa-stack.fa-5x {
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 65px);
}
.secundary-color {
  color: #e7eaec;
}
.third-color {
  color: #18a689;
}
#add_widget .tab-content {
  max-height: calc(95vh - 212px);
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
#add_widget .modal-body {
  overflow-y: hidden;
  padding: 0px;
}
.modal .modal-dialog {
  border-bottom: 3px solid #3b8c62;
}
.modal .modal-dialog .modal-content {
  border-radius: 0px;
  background-color: #e7eaec;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 5px;
  padding-left: 15px;
  background-color: #3b8c62;
  color: white;
  text-transform: uppercase;
}
.modal .modal-dialog .modal-content .modal-header .close {
  text-shadow: none;
  opacity: 1;
  margin-top: 1px;
  color: white;
}
.modal .modal-dialog .modal-content .modal-footer {
  border-top: 1px solid #3b8c62;
}
#add_widget .tab-content {
  background-color: white;
}
div.bhoechie-tab-container {
  background-color: white;
  padding: 0px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu .list-group-item.top-locked {
  position: fixed;
  top: 79px;
  width: 143px;
}
div.bhoechie-tab-menu .list-group-item.bottom-locked {
  position: fixed;
  bottom: 66px;
  width: 143px;
}
div.bhoechie-tab-menu div.list-group {
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group > a {
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
  color: #3b8c62;
}
div.bhoechie-tab-menu div.list-group > a:first-child {
  border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a:last-child {
  border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #3b8c62;
  color: #e7eaec;
  border-color: #3b8c62;
}
div.bhoechie-tab-menu div.list-group > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #3b8c62;
}
div.bhoechie-tab-content {
  background-color: white;
  text-align: center;
  color: #3b8c62;
  overflow-y: auto;
  height: calc(100vh - 247px);
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}
.ibox-content-widget {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  margin-bottom: 5px;
  text-align: left;
  overflow: auto;
  position: relative;
  border: 1px solid #dedede;
}
.ibox-content-widget .widget-title {
  text-align: justify;
}
.ibox-content-widget .widget-title h4 small {
  font-size: 10px;
}
.ibox-content-widget .widget-add-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  float: left;
}
.ibox-content-widget .widget-add-container .btn {
  font-size: 20px;
  padding: 0 8px;
}
.pull-right {
  float: right !important;
}
.text-right {
  text-align: right;
}
.m-r {
  margin-right: 15px;
}
/* BOOTSTRAP COLOR OVERWRITE */
.btn-danger {
  background-color: #885156;
  border-color: #885156;
  color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
  background-color: #885156;
  border-color: #885156;
  opacity: 0.8;
  color: #FFFFFF;
}
.btn-primary {
  background-color: #3b8c62;
  border-color: #3b8c62;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #3e9367;
  border-color: #3b8c62;
  opacity: 0.8;
  color: #FFFFFF;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.top-offset {
  margin-top: 5px;
}
.modal-body {
  overflow: auto;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-loading-box {
  position: relative;
  height: 100%;
  width: 100%;
}
.widget-loading-box .fa-stack.fa {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
.small-widget-title {
  text-align: center;
  margin-bottom: 2px;
}
.small-widget-content {
  height: calc(100% - 84px);
  width: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.remove-small-widget {
  position: absolute;
  bottom: 5px;
  left: 75px;
}
@media (max-width: 768px) {
  .grid-stack-item {
    margin-bottom: 5px;
  }
}
.modal-body {
  max-height: calc(100vh - 183px);
  overflow-y: auto;
}
.widget-settings-content {
  max-height: calc(100vh - 101px);
  overflow-y: auto;
}
.widget-content {
  height: calc(100% - 34px);
  overflow-y: auto;
  overflow-x: hidden;
}
.widget-content.container,
.widget-content.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
#widget_settings .modal-dialog {
  border-bottom: 3px solid #3b8c62;
}
#widget_settings .modal-dialog .modal-content {
  border-radius: 0px;
  background-color: #e7eaec;
}
#widget_settings .modal-dialog .modal-content .modal-header {
  padding: 5px;
  padding-left: 15px;
  background-color: #3b8c62;
  color: white;
  text-transform: uppercase;
}
#widget_settings .modal-dialog .modal-content .modal-header .close {
  text-shadow: none;
  opacity: 1;
  margin-top: 1px;
  color: white;
}
.side-menu-widgets-container {
  -webkit-box-shadow: 17px 2px 30px -11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 17px 2px 30px -11px rgba(0, 0, 0, 0.74);
  box-shadow: 17px 2px 30px -11px rgba(0, 0, 0, 0.74);
}
.side-menu-widgets-container .widget-extra-menu {
  border-top: 1px solid rgba(167, 123, 102, 0.3);
  border-right: 1px solid rgba(167, 123, 102, 0.3);
  border-bottom: 1px solid rgba(167, 123, 102, 0.3);
  height: calc(100% - 65px);
}
.multiselect-container {
  max-height: 300px;
  overflow: auto;
}
/** Button Borders **/
/** Button Backgrounds **/
/* RADIOSET/CHECKSET */
.radioset {
  white-space: nowrap;
}
.radioset input[type="radio"],
.radioset input[type="checkbox"] {
  display: none;
}
.radioset input[type="radio"] + label,
.radioset input[type="checkbox"] ~ label {
  border: 1px solid #3b8c62;
  background: #3b8c62;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  position: relative;
  line-height: 1.42857143;
  touch-action: manipulation;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  font-size: 14px;
  padding: 5px 18px;
  font-weight: normal;
  min-height: 31px;
  min-width: 45px;
  margin: 0;
  margin-right: 5px;
  white-space: nowrap;
  margin-right: -5px;
}
.radioset input[type="radio"] + label:first-of-type {
  margin-left: 0px;
}
.radioset input[type="radio"] + label:last-of-type {
  margin-right: 0px;
}
.radioset input[type="checkbox"] ~ label:last-of-type {
  margin-right: 5px;
}
.radioset input[type="radio"] + label:first-of-type,
.radioset input[type="checkbox"] ~ label:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.radioset input[type="radio"] + label:last-of-type,
.radioset input[type="checkbox"] ~ label:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.radioset input[type="radio"] + label:hover,
.radioset input[type="checkbox"] ~ label:hover {
  border: 1px solid #3b8c62;
  background: #3b8c62;
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.radioset input[type="radio"]:checked + label,
.radioset input[type="checkbox"]:checked + label {
  border: 1px solid #3b8c62;
  background: #3b8c62;
  background-color: #3b8c62;
  border-color: #3b8c62;
  color: #FFFFFF;
}
.radioset input[type="radio"]:disabled + label,
.radioset input[type="checkbox"]:disabled + label {
  opacity: .50;
  filter: alpha(opacity=50);
  background: #3b8c62;
  border: 1px solid #3b8c62;
  cursor: not-allowed;
  background-color: #885156;
  border-color: #885156;
  color: #FFFFFF;
}
.radioset input[type="radio"]:disabled:checked + label,
.radioset input[type="checkbox"]:disabled:checked + label {
  background-color: #abd5f2;
}
